Source:	SOURCE
Package: port389-admin-console
Version: VERSION
Section: net
Priority: extra
Architecture: all
Depends: PKGDEPS
Installed-Size: SIZE
Maintainer: MAINTAINER
Description: Fedora Admin Server Management Console
 A Java based remote management console used for Managing Fedora
 Admin Server.
 .

