Source: SOURCE
Package: port389-console
Version: VERSION
Section: net
Priority: extra
Architecture: all
Depends:  PKGDEPS
Installed-Size: SIZE
Maintainer: MAINTAINER
Description: Fedora Management Console
 A Java based remote management console used for Managing Fedora
 Administration Server and Fedora Directory Server.


